body {
	 font-family: "Roboto", sans-serif;
}
 .cds-overlay {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
	 background-color: rgba(255, 255, 255, 1);
	 z-index: 8000;
}
/* ----Loading spinner--- */
 .cds-loading-spinner {
	 display: block;
	 width: 80px;
	 height: 80px;
	 border-radius: 100%;
	 position: relative;
	 margin: auto;
	 border: 8px solid #79b700;
	 border-top: 8px solid #fff;
	 -webkit-animation: spin 0.8s linear infinite;
	 -ms-animation: spin 0.8s linear infinite;
	 -o-animation: spin 0.8s linear infinite;
	 animation: spin 0.8s linear infinite;
}
 .cds-loading-spinner.-sm {
	 display: inline-block;
	 margin: 0.5rem;
	 width: 14px;
	 height: 14px;
	 border: 3px solid rgba(121, 183, 0, 0.5);
	 border-top: 3px solid #79b700;
}
 @keyframes spin {
	 0% {
		 -webkit-transform: rotate(0deg);
		 -ms-transform: rotate(0deg);
		 -o-transform: rotate(0deg);
		 transform: rotate(0deg);
	}
	 50% {
		 -webkit-transform: rotate(135deg);
		 -ms-transform: rotate(135deg);
		 -o-transform: rotate(135deg);
		 transform: rotate(135deg);
	}
	 100% {
		 -webkit-transform: rotate(360deg);
		 -ms-transform: rotate(360deg);
		 -o-transform: rotate(360deg);
		 transform: rotate(360deg);
	}
}
 @keyframes rotate {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(270deg);
	}
}
 @keyframes colors {
	 0% {
		 stroke: #79b700;
	}
	 10% {
		 stroke: #c9e299;
	}
	 100% {
		 stroke: #79b700;
	}
}
 @keyframes dash {
	 0% {
		 stroke-dashoffset: 266;
	}
	 50% {
		 stroke-dashoffset: 66.5;
		 transform: rotate(135deg);
	}
	 100% {
		 stroke-dashoffset: 266;
		 transform: rotate(450deg);
	}
}
/* ----Loading elements horizontal alignment--- */
 .cds-loading {
	 display: flex;
	 justify-content: center;
	 align-content: center;
	 flex-direction: column;
	 text-align: center;
	 padding: 3rem;
}
/* ----Loading message style--- */
 .cds-loading-primary-message {
	 font-family: Roboto-Medium;
	 font-size: 24px;
	 font-weight: 300;
	 letter-spacing: 0.05px;
	 line-height: 28px;
	 color: #3a3a3a;
	 margin: 50px 0 0 0;
}
 .cds-loading-secondary-message {
	 font-family: Roboto-Light;
	 font-size: 24px;
	 font-weight: 100;
	 line-height: 28px;
	 color: #3a3a3a;
	 margin-top: 0.5rem;
}
 
