$font-family: "Roboto";
$interactive-01: #79b700;
$hover-primary: #9aca3c;
$disabled-02: #999999;
$disabled-01: #f3f3f3;
$ui-00: #ffffff;
$ui-02: #d9d9d9;
$focus-01: #C9E299;
$interactive-01: #79b700;
$text-01: #3a3a3a;


body{
  font-family: "Roboto", sans-serif;
}


.cds-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsla(0, 0%, 100%, 1);
  z-index: 8000;
}


/* ----Loading spinner--- */
.cds-loading-spinner {
  display:inline-block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: relative;
  border: 8px solid $interactive-01;
  border-top: 8px solid $ui-00;
  animation-name: spin;
  animation-duration: .8s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
  animation-iteration-count: infinite;
  &.-sm {
    display:inline-block;
    margin:.5rem;
    width: 14px;
    height: 14px;
    border: 3px solid rgba(121, 183, 0, 0.5);
    border-top: 3px solid $interactive-01;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* ----Loading elements horizontal alignment--- */

.cds-loading {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
}



/* ----Loading message style--- */

.cds-loading-primary-message {
    font-family: Roboto-Medium;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.05px;
    line-height: 28px;
    color: $text-01;
    margin: 50px 0 0 0;
}
.cds-loading-secondary-message {
    font-family: Roboto-Light;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    color: $text-01;
    margin-top: 0.5rem;
}